[package]
name = "bench_rs"
version = "0.1.0"
edition = "2024"

[dependencies]
clap = { version = "4", features = ["derive"] }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
anyhow = "1"
rayon = "1.10"
rand = { version = "0.8" , features = ["small_rng"] }
num-complex = "0.4"